footer {
    background-color: #3D2B1A;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

footer div:first-child h2 {
    color: #F5ECD9;
}

footer div:first-child p, footer #footer-copyright p{
    color: #7A7875;
}